<!--ng-controller adds our portfolio.js controller-->
<div class="row" ng-controller="portfolioController">
  <div class="col-md-12">
		<td><button onclick="window.location.reload()" class="btn btn-success">Reset</button></td>
        <td><button type="button" class="btn btn-primary" ng-click="saveStocks()">Save</button></td>
    <br/><br/>
    <div class="alert alert-info" ng-if="message" role="alert">{{message}}</div>
    <!--
	  All the data relating to a single stock is now accessed via stockData, process the held array for individual lines
	  -->
    <div class="row">
      <table class="table table-striped table-condensed">
        <tr id="header1">
          <th>Holdings</th>
        </tr>
        <tr id="header2">
          <th>Symbol</th>
          <th>Desc</th>
          <th>Date In</th>
          <th>Index</th>
          <th>Qty</th>
          <th>Total Qty</th>
          <th>Cost</th>
          <th>Purchace Price</th>
          <th>Price</th>
          <th>Value</th>
          <th>Total Value</th>
          <th>Detail Gain/Loss</th>
          <th>Cumulative Gain/Loss</th>
          <th>% Gain/Loss</th>
          <th>Sell Costs</th>
        </tr>
        <!-- inner ng-repeat, each line held within a stock -->
        <tbody ng-repeat="(stockSymbol, stockData) in allStocks" style="border-bottom:50px solid white;">
          <tr ng-repeat="oneRecord in stockData.held">

            <!--Symbol-->
            <td>{{stockSymbol}}</td>

            <!--Desc-->
            <td>{{oneRecord.Name}}</td>

            <!--Date In-->
            <td>{{oneRecord.ts}}</td>

            <!--Index-->
            <td>{{oneRecord.ex}}</td>

            <!--Quantity-->
            <td>{{oneRecord.number}}</td>

            <!--Total Qty-->
            <td></td>

            <!--Original Cost-->
            <td>{{oneRecord.cost}}</td>

            <!--Purchase Price-->
            <td>{{oneRecord.pps}}</td>

            <!--Input Current Price-->
            <td><input ng-model="oneRecord.cpps" type="number" value="{{parseFloat(oneRecord.cpps)}}" /></td>

            <!--Current Value-->
            <td>{{calculateValue(oneRecord)}}</td>

            <!--Total Value-->
            <td></td>

            <!--Detail Gain/Loss-->
            <td id="detail">{{calculateGainLoss(oneRecord)}}</td>

            <!--Cumulative Gain/Loss-->
            <td id="cumulative"></td>

            <!--Percentage Gain/Loss - Hint for decimals= | number:1-->
            <td id="percent">{{calculatePercentGainLoss(oneRecord) | number:1}}%</td>
            
            <!--Selling Cost-->
            <td id="sellCosts">{{calculateSellCosts(oneRecord) | number:2}}</td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <!--Total Quantity-->
            <th>{{calculateQtyTotal(stockData)}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <!--Total Value-->
            <th>{{calculateValueTotal(stockData)}}</th>
            <th></th>
            <!--Total Cumulative Gain/Loss-->
            <th>{{gainLossTotal(stockData)}}</th>
            <th></th>
            <th></th>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-condensed">
        <tr>
          <th>Gross Present Value</th><td>{{calculateGPVTotal(stockData)}}</td>
        </tr>
        <tr>
          <th>Total Selling Costs</th><td>{{calculateSCTotal(stockData)}}</td>
        </tr>
        <tr>
          <th>GPV after Sell Costs</th><td>dbdfb</td>
        </tr>
        <tr>
          <th>Purchase Price Total</th><td>{{calculatePPTotal(stockData)}}</td>
        </tr>
        <tr>
          <th>Gross Profit/Loss</th><td>dbdfb</td>
        </tr>
      </table>

      <table class="table table-striped table-condensed">
        <tr id="header2">
          <th>Symbol</th>
          <th>Desc</th>
          <th>Date In</th>
          <th>Index</th>
          <th>Qty</th>
          <th>Total Qty</th>
          <th>Cost</th>
          <th>Purchace Price</th>
          <th>Price</th>
          <th>Value</th>
          <th>Total Value</th>
          <th>Detail Gain/Loss</th>
          <th>Cumulative Gain/Loss</th>
          <th>% Gain/Loss</th>
          <th>Sell Costs</th>
        </tr>
        <tr id="header1">
          <th>Selling</th>
        </tr>
        <tr id="header1">
          <th>What if</th>
        </tr>
      </table>
    </div>
  </div>
</div>
